.blocks-info{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-wrap: wrap;
}
.group-analytics-comments{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    border-radius: 15px;
    color: var(--color-font-box);
}
.group-analytics-comments > div{
  max-width: 750px;
  min-width: 400px;
  flex: 1 2 200px;
}
.group-analytics-comments > div:nth-child(2){
  max-width: 250px;
  min-width: 150px;
  flex: 1 2 200px;
}
.group-posts-devices{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--color-font-box);
    padding-bottom: 2rem;
}
.group-posts-devices div{
    min-width: 200px;
    flex: 1 2 200px;
    min-height: 100%;
}
.group-posts-devices div:nth-child(2){
  max-width: 200px;
}
.top-media-shared{
  background-color: var(--bkg-box);
  padding: 1rem;
  border-radius: 15px;
}
@media (max-width: 750px) {
  .blocks-info div{
    width: 60px;
  }
  .group-analytics-comments > div:nth-child(2),
  .group-posts-devices div:nth-child(2){
    min-width: 200px;
    width: 100%;
    max-width: 750px;
  }
  .group-analytics-comments{
    flex-direction: column;
  }
  .group-analytics-comments > div{
    min-width: 200px;
  }
}