:root{
    --bkg-black: rgb(11, 26, 51);
    --bkg-box: #ffffff;
    --bkg-menu-side: rgb(244, 248, 255);
    --color-font-box: rgb(7, 20, 43);
    --color-font-bkg: #fff;
}
/* .background{
    background-color: var(--bkg-black);
    padding: 0 2rem 0 0;
    min-height: 100vh;
}
.container-dashboard{
    position: relative;
    display: flex;
    gap: 2rem; 
} */