.container-profile{
    width: 100%;
    max-width: 1000px;
    display: flex;
    gap: 3rem;
    margin: 3rem auto 3rem auto;
    background-color: var(--bkg-box);
    padding: 1rem 2rem 2rem 1rem;
    border-radius: 15px;
    color: var(--color-text-black-soft);
}
.container-profile div{
    width: 100%;
}
.header-profile{
    width: 100%;
    /* background-image: url('@/assets/img/multivariate-5917419_1280.webp'); */
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid var(--bkg-dark-contrast-transparent);
    padding: 1rem;
    border-radius: 15px;
}
.avatar-profile{
    max-width: 100px;
    border-radius: 50%;
}
.info-profile{
    margin-top: 3rem;
    border: 1px solid var(--bkg-dark-contrast-transparent);
    padding: 1rem;
    border-radius: 15px;
}
.group-info{
    width: 100%;
    display: flex;
    gap: 2rem;
}
.group-info strong{
    font-weight: bold;
    opacity: .7;
}
.group-info div{
    width: 100%;
    margin: 1rem 0;
}
.subtitle-icon{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.subtitle-icon i{
    border: .5px solid var(--bkg-dark-contrast-transparent);
    padding: .3rem 1rem;
    border-radius: 15px;
    color: var(--bkg-dark-contrast);
    cursor: pointer;
}