/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: 'Yeseva One';
  src: url('../font/YesevaOne-Regular.ttf');
  font-weight: bold;
}

:root {
  --color-text-black-soft: #383838;
  --color-text-destaque: #353535;
  --color-link-hover: #242424;
  --bkg-dark: #0b1a33;
  --bkg-dark-contrast: #134E50;
  --bkg-dark-contrast-transparent: #134e5069;
  --color-font-box: rgba(7, 20, 43, 0);
  --bkg-white-shaded: #fafafa;
  --bkg-border-soft: #4d4d4d;
  --bkg-button-update: #3a50d1;
  --bkg-button-action: #134E50;
  --bkg-button-delete: #fc5050;
  --color-message-sucess: #00b600;
  --bkg-box: #ffffff;
  --bkg-menu-side: rgb(244, 248, 255);
  --color-font-bkg: #fff;
}

:root {
  --shadow-color: 0deg 0% 56%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    3px 5px 6.5px -1.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-text-black-soft) rgb(241, 241, 241);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bkg-dark);
  border-radius: 20px;
  border: 1px solid rgb(241, 241, 241);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

html{
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  max-width: 1280px;
  padding: 0 2rem;
  margin: auto;
  min-height: calc(90vh - 4rem); /* calculado de acordo com a margin bottom do header */
  
}

.loading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  /* border: 2px solid var(--bkg-dark-contrast); */
  border-radius: 50%;
}

.loading::before {
  position: absolute;
  content: '';
  width: 4rem;
  height: 4rem;
  border-top: 2px solid var(--bkg-dark-contrast);
  border-radius: 50%;
  animation: loading 700ms infinite ease-in-out;
}

@keyframes loading {
  0% {
    border-top: 4px solid var(--bkg-dark);
  }

  25% {
    border-right: 4px solid var(--bkg-dark);
  }

  50% {
    border-bottom: 4px solid var(--bkg-dark);
  }

  75% {
    border-left: 4px solid var(--bkg-dark);
  }
}

.title {
  font-family: 'Yeseva One';
  color: var(--color-text-black-soft);
  line-height: 1.3rem;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--color-text-destaque);
  transition: 0.4s;
}

.link-icon-flex {
  display: inline-flex;
  gap: .5rem;
  align-items: center;
  line-height: 0;
}

.link-animation::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--color-text-black-soft);
  transition: 200ms all;
}

.link-animation:hover::before {
  width: 100%;
}

.action-btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: none;
  border-radius: 7px;
  font-size: 1.1rem;
  transition: 100ms ease-in;
  cursor: pointer;
}

.msg-error {
  width: 100%;
  padding: 1rem 0;
  color: red;
}

.notification-card,
.message-card,
.user-card {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  right: 0;
  font-size: 1rem;
}

.visible-notification-card,
.visible-message-card {
  visibility: visible;
  top: 70px;
  opacity: 10;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-link-hover);
  }
}
