@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(43, 42, 41) rgb(241, 241, 241);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bkg-dark);
  border-radius: 20px;
  border: 1px solid rgb(241, 241, 241);
}

html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

main{
  max-width: 1280px;
  padding: 0 2rem;
  margin: auto;
}
.spinner-global{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
@font-face {
  font-family: 'Yeseva One';
  src: url('../font/YesevaOne-Regular.ttf');
  font-weight: bold;
}
h1, .title{
  /* font-family: 'Yeseva One', cursive; */
  color: #202020;
  line-height: 1.3rem;
  font-family: Yeseva , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a{
  position: relative;
  text-decoration: none;
  color: var(--color-text-destaque);
  transition: 0.4s;
}
.link-icon-flex{
  display: inline-flex;
  gap: .5rem;
  align-items: center;
  line-height: 0;
}
.link-animation::before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--color-text-black-soft);
  transition: 200ms all;
}
.link-animation:hover::before{
  width: 100%;
}
.like-active{
  color: red;
}
@media (hover: hover) {
  a:hover {
    color: var(--color-link-hover);
  }
}