.container{
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem 3rem 1rem;
}
.register, .login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.register-prints, .login-prints{
    width: 100%;
    max-width: 500px;
    background-image: url("../img/multivariate-5917419_1280.webp");
    background-size: contain;
    background-repeat: no-repeat;
}
.container-form{
    display: flex;
    align-items: center;
    min-height: 100%;
}
.form-register, .form-login{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    margin: auto;
    font-size: 1rem;
}
span{
    position: relative;
}
i{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: var(--bkg-dark-contrast);
    width: fit-content;
    padding: 14px;
    border-radius: 7px 0 0 7px;
    color: var(--bkg-white-shaded);
}
label{
    width: 100%;
    margin: 1rem auto;
}
input{
    height: 45px;
    width: 100%;
    border-radius: 7px;
    margin: .3rem auto;
    font-size: 1rem;
    border: .5px solid var(--bkg-dark-contrast);
    padding: .2rem .5rem .2rem 50px;
    outline: transparent;
    transition: 100ms ease-in;
} 
input:focus{
   outline: 1px solid var(--bkg-dark-contrast);
   box-shadow: var(--shadow-elevation-medium);
}
button{
    width: fit-content;
    border: none;
    border-radius: 7px;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: var(--bkg-dark-contrast);
    color: var(--bkg-white-shaded);
    transition: 200ms all;
    cursor: pointer;
}
button:hover{
    filter: brightness(120%);
}
@media (min-width: 700px) {
    .login-prints, .register-prints{
        min-height: 400px;
    }
}